<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Home</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
  <link rel="stylesheet" href="assets/css/Article-Clean.css" />
  <link rel="stylesheet" href="assets/css/Article-List.css" />
  <link rel="stylesheet" href="assets/css/Footer-Basic.css" />
  <link rel="stylesheet" href="assets/css/Header-Blue.css" />
  <link rel="stylesheet" href="assets/css/Header-Dark.css" />
  <link rel="stylesheet" href="assets/css/styles.css" />
</head>

<body style="background: url('assets/img/bg.png')">

  <header class="header-blue" style="background: url('assets/img/bg.png')">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Tinder</a><button data-toggle="collapse" class="navbar-toggler"
          data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <form class="form-inline mr-auto" target="_self">
            <div class="form-group mb-0">
              <label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field"
                type="search" id="search-field" name="search" />
            </div>
          </form>
          <span class="navbar-text">
            <a class="login" href="login" target="_self">Log In</a></span>
          <a class="btn btn-light action-button" role="button" href="fs">File System</a>
          <a class="btn btn-light action-button" role="button" href="signup">Sign Up</a>
        </div>
      </div>
    </nav>
    <div class="container hero">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
          <h1>The best find new friend</h1>
          <p>
            Mauris egestas tellus non ex condimentum, ac ullamcorper sapien
            dictum. Nam consequat neque quis sapien viverra convallis. In non
            tempus lorem.
          </p>
          <button class="btn btn-light btn-lg action-button" type="button">
            Learn More
          </button>
        </div>
        <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
          <div class="phone-mockup">
            <div class="screen">
              <img src="assets/img/tinder.png" style="width: 100%" />
            </div>
            <img class="device" src="assets/img/phone.svg" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <footer class="footer-basic" style="background: url('assets/img/bg.png')">
    <div class="social" style="color: var(--white)">
      <a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
          class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
          class="icon ion-social-facebook"></i></a>
    </div>
    <ul class="list-inline" style="color: var(--light)">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright" style="color: var(--light)">Company Name © 2017</p>
  </footer>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>